
.container{
    display: grid;
    font-size: 40px;
    background-color: lightgray;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px 10px;
}
.d1{
    background-color: rgb(223, 111, 111);
    height: 1fr;
    width: 1fr;
}
.d2{
    background-color: rgb(237, 192, 111);
    justify-self: center;
    height: 1fr;
    width: 1fr;
}
.d3{
background-color: rgb(110, 215, 253);
    height: 1fr;
    width: 1fr;
}
.d4{
background-color: pink;
    height: 1fr;
    width: 1fr;
}
.d5{
    background-color: rgb(120, 205, 120);
    height: 1fr;
    width: 1fr;
}
